@using Capstone.Web.Models;
@model ParkWeatherViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>@Model.Park.ParkName - @Model.Park.State</h3>
<div>
    <p>@Model.Park.InspirationalQuote</p>
    <small class="text-muted">@Model.Park.InspirationalQuoteSource</small>
</div>

    

<div  id="park-detail">
    <img class="img-responsive col-xs-6 details-page-img" src="@Url.Content("~/Content/parks/" + Model.Park.ParkCode + ".jpg")" />
    <table class="table table-sm col-xs-4 park-table">
        <tr>
            <td>Acreage</td>
            <td>@string.Format("{0:n0}", Model.Park.Acreage)</td>
        </tr>
        <tr>
            <td>Annual Visitor Count</td>
            <td>@string.Format("{0:n0}", Model.Park.AnnualVisitorCount)</td>
        </tr>
        <tr>
            <td>Climate</td>
            <td>@Model.Park.Climate</td>
        </tr>
        <tr>
            <td>Elevation</td>
            <td>@string.Format("{0:n0}", Model.Park.ElevationInFeet) (ft)</td>
        </tr>
        <tr>
            <td>Entry Fee</td>
            <td>$@Model.Park.EntryFee</td>
        </tr>
        <tr>
            <td>Miles of Hiking Trail</td>
            <td>@Model.Park.MilesOfTrail</td>
        </tr>
        <tr>
            <td>Number of Animal Species</td>
            <td>@Model.Park.NumberOfAnimalSpecies</td>
        </tr>
        <tr>
            <td>Number of Campsites</td>
            <td>@Model.Park.NumberOfCampsites</td>
        </tr>
        <tr>
            <td>Year Founded</td>
            <td>@Model.Park.YearFounded</td>
        </tr>
    </table>
   
</div>
<br />
<p class="col-md-6">@Model.Park.ParkDescription</p>
<div class="weather-report">
    <table class="table table-responsive">
        <tr>
            <td>
                <div class="today-weather">
                    <h5>Today</h5>
                    <img class="img-responsive" src="@Url.Content("~/Content/weather/" + Model.WeatherForecast[0].Forecast + ".png")" />
                    <p class="col-xs-2">High @(((bool)Session["IsFahrenheit"]) ? Model.WeatherForecast[0].High : Model.TempInCelsius(Model.WeatherForecast[0].High))  </p>
                    <p class="col-xs-2">Low @(((bool)Session["IsFahrenheit"]) ? Model.WeatherForecast[0].Low : Model.TempInCelsius(Model.WeatherForecast[0].Low))</p>
                    <small>Advisory: @Model.GetAdvisory(Model.WeatherForecast[0])</small>
                </div>
            </td>
            @for(int i = 1; i < Model.WeatherForecast.Count; i++)
            {
                <td>
                    <div class="future-weather" >
                        <img class="img-responsive" src="@Url.Content("~/Content/weather/" + Model.WeatherForecast[i].Forecast + ".png")" />
                        <p class="col-xs-2">High @Model.WeatherForecast[i].High</p>
                        <p class="col-xs-2">Low @Model.WeatherForecast[i].Low</p>
                        <span class="text-content"><span>Advisory: @Model.GetAdvisory(Model.WeatherForecast[i])</span></span>
                    </div>
                </td>
            }
        </tr>
    </table>
    <div>
        @using (Html.BeginForm("Detail", "Home", FormMethod.Post))
        {
            @Html.Label("Fahrenheit")
            @Html.RadioButtonFor(p => p.TempIsFahrenheit, "true")
            @Html.Label("Celsius")
            @Html.RadioButtonFor(p => p.TempIsFahrenheit, "false")
            @Html.Hidden("parkCode", @Model.Park.ParkCode)
            <button class="btn">Change temperature</button>
        }
    </div>
</div>