@using Capstone.Web.Models;
@model List<Park>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>National Parks</h2>

<table>
    @foreach (Park p in Model)
    {
    <tr>
        @Html.ActionLink(p.ParkName, "Detail", "Home")
        <td>
            <img src="@Url.Content("~/Content/parks/" + p.ParkCode + ".jpg")"/>
        </td>
        <td>
            <h4>@p.ParkName</h4>
            <p>@p.State</p>
            <p>@p.ParkDescription</p>
        </td>
    </tr>
    }
</table>