@using Capstone.Web.Models;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="~/Content/Style/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Style/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="container"><img class="banner-image" src="@Url.Content("~/Content/logo.png")" /> </header>
    <nav class="navbar-collapse collapse container">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Survey", "Survey", "Survey")</li>
            <li>@Html.ActionLink("Favorite Parks", "SurveyResults", "Survey")</li>
        </ul>
    </nav>
    <section class="container">
        @RenderBody()
        
    </section>
    <footer class="container">
        <hr />
        <p>Made by Molly and Ryan | Tech Elevator | 2017</p>
        <hr />
    </footer>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
</body>
</html>
