@using Capstone.Web.Models;
@model Survey

@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Survey</h2>

<hr />
@using (Html.BeginForm("Survey", "Survey", FormMethod.Post, new { @class = "col-xs-6 survey-form" }))
{
    <div class="form-group">
        @Html.LabelFor(s => s.ParkCode, "Which one is your favorite National Park?", new { @class = "form-control"})
        @Html.DropDownListFor(s => s.ParkCode, Model.ParkCodes, new { @class = "form-control"})
        @Html.ValidationMessageFor(s => s.ParkCode)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.State, "What state are you from?", new { @class = "form-control" })
        @Html.TextBoxFor(s => s.State, new { @class = "form-control", placeholder = "state" })
        @Html.ValidationMessageFor(s => s.State)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.EmailAddress, "Please provide a valid email address.", new { @class = "form-control" })
        @Html.TextBoxFor(s => s.EmailAddress, new { @class = "form-control", placeholder = "you@example.com" })
        @Html.ValidationMessageFor(s => s.EmailAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.ConfirmEmailAddress, "Please confirm email address", new { @class = "form-control" })
        @Html.TextBoxFor(s => s.ConfirmEmailAddress, new { @class = "form-control", placeholder = "you@example.com" })
        @Html.ValidationMessageFor(s => s.ConfirmEmailAddress)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.ActivityLevel, "What is your usual activity level?", new { @class = "form-control" })
        @Html.DropDownListFor(s => s.ActivityLevel, Model.SelectActivityLevel, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.ActivityLevel)
    </div>

    <button class="btn btn-primary">Submit!</button>
}

